{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}

  <div class="container">
    <div class="card card-container">


    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

            <form method="POST" action="/accounts/password/reset/" class="password_reset">
             {% csrf_token %}



            <input type="email" name="email" placeholder="E-mail address"
                   value="{% if form.email.value %} {{ form.email.value }} {%  endif %}"
                   class="textinput textInput form-control" style="margin-bottom: 5px" required="" id="id_email">

              {% if form.errors.email %}
                <div class="alert alert-danger">
                    {{ form.errors.email|escape }}
                </div>
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block btn-signin" style="margin-top: 40px; margin-bottom: 10px;" type="submit">Reset</button>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->

{% endblock %}

