{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

  <div class="container">
    <div class="card card-container">

    <h1>{% trans "Change Password" %}</h1>

      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div id="div_id_password1" class="form-group">
          <label for="id_password1" class="col-form-label  requiredField"> Password<span class="asteriskField">*</span> </label>
          <div class="">
            <input type="password" name="password1" class="textinput textInput form-control" required="" id="id_password1">

            {% if form.errors.password1 %}
                <div class="alert alert-danger">
                    {{ form.errors.password1|escape }}
                </div>
            {% endif %}
          </div>

        </div>
        <div id="div_id_password2" class="form-group">

          <label for="id_password2" class="col-form-label  requiredField">
                Password confirmation<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="password" name="password2" class="textinput textInput form-control" required="" id="id_password2">

            {% if form.errors.password2 %}
                <div class="alert alert-danger">
                    {{ form.errors.password1|escape }}
                </div>
            {% endif %}
          </div>
        </div>
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
  </div>
{% endblock %}

