{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block inner %}

<div class="container">
    <div class="card card-container">

        <p>{% blocktrans %}Already have an account? Then please <a href="/accounts/login/">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
             {% csrf_token %}

              Username:
              <input type="text" name="username" placeholder="Enter a username"
                     class="textinput textInput form-control"
                   value="{% if form.username.value %} {{ form.username.value }} {% endif %}"
                   style="margin-bottom: 9px; margin-top: 4px;;" required="" id="id_username">
              {% if form.errors.username %}
                  <div class="alert alert-danger">
                      {{ form.errors.username|escape }}
                  </div>
              {% endif %}

            Name:
            <input type="text" name="name" placeholder="Enter your name"
                   value="{% if form.name.value %} {{ form.name.value }} {% endif %}"
                     class="textinput textInput form-control" style="margin-bottom: 9px; margin-top: 4px;;" required="" id="id_name">
            {% if form.errors.name %}
                <div class="alert alert-danger">
                    {{ form.errors.name|escape }}
                </div>
            {% endif %}

             Gender:
             <input required type="radio" name="gender" value="male" {% if form.gender.value == 'male' %} selected {% endif %}> Male
             <input required type="radio" name="gender" value="female" {% if form.gender.value == 'female' %} selected {% endif %}> Female<br>

             {% if form.errors.gender %}
                <div class="alert alert-danger">
                    {{ form.errors.gender|escape }}
                </div>
             {% endif %}

            Email:
            <input type="email" name="email" placeholder="Enter your email"
                   value="{% if form.email.value %} {{ form.email.value }} {%  endif %}"
                   class="textinput textInput form-control" style="margin-bottom: 9px; margin-top: 4px;;" required="" id="id_email">

              {% if form.errors.email %}
                <div class="alert alert-danger">
                    {{ form.errors.email|escape }}
                </div>
            {% endif %}

            Password:
            <input type="password" name="password1" placeholder="Enter password"
                   value="{% if form.password1.value %} {{ form.password1.value }} {% endif %}"
                   class="textinput textInput form-control" style="margin-bottom: 9px; margin-top: 4px;;" required="" id="id_password1">
            {% if form.errors.password1 %}
                <div class="alert alert-danger">
                    {{ form.errors.password1|escape }}
                </div>
            {% endif %}

            Password Again
            <input type="password" name="password2" placeholder="Enter password again"
                   value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                   class="textinput textInput form-control" style="margin-bottom: 9px; margin-top: 4px;;" required="" id="id_password2">
            {% if form.errors.password2 %}
                <div class="alert alert-danger">
                    {{ form.errors.password2|escape }}
                </div>
            {% endif %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block btn-signin" style="margin-top: 40px; margin-bottom: 10px;" type="submit">Sign up</button>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->

{% endblock %}

