{% extends "admin/base.html" %}

{% block content %}
<div class="col" style="" >
  <div class="card" style="margin: 15px; min-height: 400px">
    <div class="card-body">

        <h1 style="text-align: center">Approve Records</h1> <br>
        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>username</th>
                <th>Lesson Name</th>
                <th>Record</th>
                <th>Language</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
        {% for each_record in records %}
            {% if each_record.recordname  %}
            <tr>
                <td>{{ each_record.user_data.name }}</td>
                <td>{{ each_record.user_data.username }}</td>
                <td>{{ each_record.book.title }} - {{ each_record.chapter.title }} - {{ each_record.verse.title }} </td>
                <td>
                    <audio controls="" src="/media/userdata/{{ each_record.user_data.userid }}/{{ each_record.recordname }}">
                    </audio>
                </td>
                <td>
                     <select id="select_{{ each_record.recordid }}" name="language" class="selectclass">
                       {% for each_language in languages %}
                          <option value="{{ each_language.id }}" {% if each_record.approvedlanguage.id == each_language.id %} selected {% endif %}>{{ each_language.title }}</option>
                       {% endfor %}
                    </select>
                </td>
                <td>
                   <select id="input_{{ each_record.recordid }}" name="approve" class="selectclass">
                      <option value="true" {% if each_record.approved  %} selected {% endif %}>Approve</option>
                      <option value="false" {% if not each_record.approved %} selected {% endif %}>Reject</option>
                    </select>
                </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
