{% extends "admin/base.html" %}

{% block content %}
<div class="col" style="" >
  <div class="card" style="margin: 15px; min-height: 400px">
    <div class="card-body">

        <h1 style="text-align: center">Statistics</h1> <br>
        <p style="margin-bottom: 40px; text-align: left">
            <select id="select_user" name="user" style="width: 150px; margin-right: 15px">
                <option value="" >Select a user </option>
               {% for each_user in users %}
                  <option {% if selecteduser == each_user.username %}selected{% endif %} value="{{ each_user.username }}" >{{ each_user.username }}</option>
               {% endfor %}
            </select>

            <select id="select_book" name="book" style="width: 150px; margin-right: 15px">
                <option value="" >Select a Book </option>
               {% for each_book in books %}
                  <option  {% if selectedbook == each_book.id %}selected{% endif %}  value="{{ each_book.id }}" >{{ each_book.title }}</option>
               {% endfor %}
            </select>

            <select id="select_chapter" name="chapter" style="width: 150px; margin-right: 15px">
                <option value="" >Select a chapter </option>
               {% for each_chapter in chapters %}
                  <option  {% if selectedchapter == each_chapter.id %}selected{% endif %}  value="{{ each_chapter.id }}" >{{ each_chapter.title }}</option>
               {% endfor %}
            </select>
            <button id="btnfilter" class="btn btn-default">Filter</button>
        </p>
        <table id="example" class="display" style="width:100%">

        <thead>
            <tr>
                <th>SN</th>
                <th>username</th>
                <th>Book</th>
                <th>Chapter</th>
                <th>Verse</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for each_record in records %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ each_record.user_data.username }} </td>
                <td>{{ each_record.book.title }}</td>
                <td>{{ each_record.chapter.title }}</td>
                <td>{{ each_record.verse.title }}</td>
                <td>{% if each_record.recordname %}Recorded{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
