{% extends "admin/base.html" %}

{% block content %}
<div class="col" style="" >
  <div class="card" style="margin: 15px; min-height: 400px">
    <div class="card-body">

        <h1 style="text-align: center">Word List</h1> <br>
        <table id="example" class="display" style="width:100%;  table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 10%">Book</th>
                <th style="width: 10%">Chapter</th>
                <th style="width: 10%">Verse</th>
                <th style="width: 10%">Language</th>
                <th style="width: 60%">Distinct Words</th>
            </tr>
        </thead>
        <tbody>
        {% for each_lesson in lessons %}
          <tr>
              <td style="width: 10%">{{ each_lesson.book.title }}</td>
              <td style="width: 10%">{{ each_lesson.chapter.title }}</td>
              <td style="width: 10%">{{ each_lesson.verse.title }} </td>
              <td style="width: 10%">{{ each_lesson.language.title }} </td>
              <td style="width: 60%; word-wrap:break-word">{% if each_lesson.unique_words %}{{ each_lesson.unique_words }} {% endif %} </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
